#display {
    border: 2px dotted black;
    width: 280px;
    height: 38px;
    font-size: 30px;
    border-radius: 5%;
}

body {
    background-color: darkslategray;
}
.calculator {
    width: 300px;
    height: 500px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 5%;
    align-items: center;
}

button {
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 10%;
}

#backspace {
    width: 80px;
}

#clear {
    width: 80px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers {
   display: flex;
   height: 150;
   width: 270px;
   flex-wrap: wrap;
   margin-top: 20px;
   margin-bottom: 20px;
   gap: 5px;
}

.middle {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.operators {
    margin-bottom: 30px;
}

#equals {
    width: 100px;
    height: 50px;
    font-size: 40px;
    background-color: orangered;
}